* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  padding: 0 0;

  color: #fff;
  background-color: #111;
  padding-top: 80px;
  padding-bottom: 40px;
  position: relative;

  div {
    main {
      margin: 0 auto;
      width: 900px;
    }
  }
}

@media screen and (max-width: 768px) {
  body {
    width: 100%;
    padding: 0 2rem;
  }
}

.gradient-bg {
  pointer-events: none;
  position: relative;
  overflow: hidden;
  z-index: 0;
  opacity: 0.35;
  filter: blur(200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    45deg,
    #3a3a3a,
    #339cff,
    #6f6f6f,
    #9333ff,
    #706f6f
  );
  background-size: 400% 400%; /* Adjust as needed */
  animation: gradientAnimation 10s linear infinite;
}
.gradient-bg::before {
  z-index: -1;
}

.bg-circle._1 {
  width: 40vw;
  height: 40vw;
  background-color: #000;
  opacity: 1;
  border-radius: 20%;
  margin-top: -16%;
  margin-left: -16%;
}
.bg-circle._1 {
  transform: translate3d(0px, 0px, 0px) scale3d(1.60139, 1.60139, 1)
    rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  will-change: transform;
}

.bg-circle._2 {
  opacity: 0.5;
  background-color: #2e2f2f;
  border-radius: 40%;
  margin-top: -20%;
}
.bg-circle._2 {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.bg-circle._3 {
  width: 40vw;
  height: 40vw;
  background-color: #3e3f3fae;
  margin-top: -12%;
  margin-left: 52%;
}
.bg-circle._3 {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}
.bg-circle._4 {
  width: 60vw;
  height: 60vw;
  background-color: #181824;
  margin-top: -32%;
  margin-right: -10%;
  left: auto;
  right: 0;
}
.bg-circle._4 {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.bg-circle._5 {
  background-color: #466788;
  margin-top: 24%;
  margin-right: -8%;
  bottom: 0%;
  left: auto;
  right: 0%;
}
.bg-circle._5 {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
}

.bg-circle._6 {
  width: 40vw;
  height: 40vw;
  background-color: #3a3a3a;
  margin-top: 35%;
  margin-bottom: -20%;
  margin-right: -16%;
  bottom: 0%;
  left: auto;
  right: 0%;
}
.bg-circle._6 {
  transform: translate3d(0px, 0px, 0px) scale3d(1.67129, 1.67129, 1)
    rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  will-change: transform;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

/* Navbar */
.nav-container {
  display: flex;
  justify-content: space-between;
  top: 0;
  align-items: center;
  box-shadow: 9px 1px 10px rgba(0, 0, 0, 0.4);
  font-size: 1.7rem;
  height: auto;
  padding: 25px 40px 25px 25px;
  position: fixed;
  width: 100%;
  z-index: 200;
}

.nav-container .logo {
  font-size: 1.3rem;
  font-weight: bold;
}

.cta-btn {
  background-color: #ffcc1a;
  color: #faf0e6;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  display: inline-block;
}

.cta-btn:hover {
  background-color: #dadadb;
}

hr {
  border: none;
  background-color: #9b9c9d;
  height: 1px;
  width: 80%;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  hr {
    width: 100%;
  }
}

/* Hero */
.hero-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}

.hero-container .profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  object-fit: cover;
}

.hero-container .hero-text {
  text-align: center;
  margin: 1rem 0;
  width: 80%;
}

@media screen and (max-width: 768px) {
  .hero-container .hero-text {
    width: 100%;
  }
}

.hero-container .hero-text h2 {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.hero-container .hero-text p {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.hero-container .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
}

.hero-container .social-icons a {
  color: #faf0e6;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
}

.hero-container .social-icons a:hover {
  color: #faf0e6;
}

/* About */
.about-container {
  padding: 2rem 0;
}

.about-container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.about-container .flex-about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 2rem;
}

.about-container .flex-about .about-text {
  width: 50%;
}

.about-container .flex-about .about-text p {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.about-container .flex-about .about-img {
  width: 50%;
}

.about-container .flex-about .about-img .profile-img {
  overflow: hidden;
  width: 100%;
  height: 282px;
  object-fit: cover;
  border: 2px solid #dadadb;
  transition: all 0.5s ease-in-out;
}

.about-text-icon {
  display: flex;
  justify-content: center;
  margin: 16px 0 16px 0;
}

.about-container .flex-about .about-img .profile-img:hover {
  filter: grayscale(0%);
  transform: scale(1.02);
}

@media screen and (max-width: 768px) {
  .about-container .flex-about {
    flex-direction: column;
  }

  .about-container .flex-about .about-text {
    width: 100%;
  }

  .about-container .flex-about .about-img {
    width: 100%;
  }
}

/* Skills */
.skills-container {
  padding: 2rem 0;
  z-index: 100px;
}

.skills-container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.skills-container .grid-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.skill-card {
  min-width: 130px;
}

.skills-container .grid-skills .skill-card {
  background-color: #d6cdc5;
  color: #544e49;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease-in-out;
  cursor: context-menu;
}

.skills-container .grid-skills i {
  font-size: 1.5rem;
}

.skills-container .grid-skills .html:hover {
  background-color: #c46ca3;
}

.skills-container .grid-skills .css:hover {
  background-color: #cdd16c;
}

.skills-container .grid-skills .js:hover {
  background-color: #f7df1e;
}

.skills-container .grid-skills .react:hover {
  background-color: #95badf;
}

.skills-container .grid-skills .node:hover {
  background-color: #87dad2;
}

.skills-container .grid-skills .python:hover {
  background-color: #8f87da;
}

/* Projects */
.projects-container {
  padding: 2rem 0;
  height: 100vh;
}

.projects-container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 768px) {
  .projects-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.project-card {
  width: 100%;
  min-height: 230px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.16);
  border-radius: 14px;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  text-decoration: none;
  display: flex;
}

.project-card .project-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;

  .small-icons {
    font-size: 16px;
  }
}

.project-card .project-header h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.project-card .project-header a {
  color: #544e49;
  font-size: 1.7rem;
  font-weight: 600;
}

.project-card .project-description {
  font-size: 1rem;
  margin-bottom: 20px;
}

.project-card .project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.project-card .project-tags .tag {
  background-color: #dadadb;
  color: #544e49;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 0.8rem;
}

/* Contact */
.contact-container {
  padding: 2rem 0;
}

.contact-container h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.contact-container .contact-form {
  width: 50%;
}

.contact-container .contact-form input,
.contact-container .contact-form textarea {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #dadadb;
  border-radius: 5px;
  resize: none;
}

.contact-container .contact-form button {
  background-color: #ffcc1a;
  color: #faf0e6;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.contact-container .contact-form button:hover {
  background-color: #dadadb;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  background-color: #1d1e20;
}

.footer-container p {
  font-size: 0.8rem;
  color: #faf0e6;
}

.footer-container .social_icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 1rem;
}

.footer-container .social_icons a {
  color: #faf0e6;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
}

.footer-container .social_icons a:hover {
  color: #dadadb;
}
